
html, body
  margin 0
  // scroll-behavior smooth
// 导航
.header
  position fixed
  top 0
  left 0
  width 100%
  min-width 1275px
  height 71px
  z-index 99
  background-image linear-gradient(to right, #fc6f70, #ff7ca5)
  .nav-menu
    padding 0 42px
    height 72px
    line-height 72px
    cursor pointer
    user-select none
.footer
  .footer-container
    height 229px
    .footer-container-left
      .footer-icon
        width 80px
        height 80px
        img
          max-width 100%
  .footer-bar
    width 1px
    height 100%
    margin 0 50px
    background-color #525457
  .footer-container-right
    width 542px
  .footer-bottom
    padding 13px 0
